<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.index.css" />

  </head>
  <body>
    <div id="div_1">
      <h1>Wellcome Home Page</h1>
      <p>Here you can GET, POST, DELETE users</p>
    </div>
    <div>
      <ul>
        <li><a href="/users">GET</a></li>
        <li><a href="/users/user/create">POST</a></li>
        <li><a href="/users/remove">DELETE</a></li>
      </ul>
    </div>
  </body>
</html>
